extends layout.pug

block content
  .content
    h1.quicksand
      | What can we do for you?
      p.sub
        | we're thrilled to know
      p
        | Today's marketing landscape requires more than a good copy and graphics; brands have a duty to earn a special place in people's lives.
      p
        | We can achieve that place for your brand by understanding what customers expect beyond the focus groups. We deliver utilites, services, and most importantly
        b experiences
        |  that:
      .row.text-left
        .col-50
          ul.experiences
            li Leverage data with precision & purpose
            li Confront unlimited choice with limited resources
            li Target the right person at the right time and in the right context
            li Unify the consumer experience across fragmented media
        .col-50
          ul.experiences
            li Achieve creative elasticity that allows both personalization and scale
            li Remain relevant and in sync with culture in real time
            li Deliver a measurable marketing ROI based on the metrics that matter
      // /.row
      // /col-100
      hr
      .row.text-center.strategy
        .col-100.h-pad-6
          h1.quicksand Your digital starategic partner
          p.sub
            | a little bit about us
          p
            | We are a group of professionals that have been in your shoes for nearly two decades. We know the diffulties of running a marketing department, we know how difficult reaching those goals might seem, and we would have loved to find someone to help solve those difficulties and bask in the great times with us after achieving a goal.
            br
            span.quicksand-bold But we are here, now. For you.
          p#audioModem.modem(onmouseover='playclip();')
            | Our favorite melody is the sound modems used to make while connecting to the internet
          audio#beep-one(controls='controls', preload='auto')
            source(src='<?= $domain; ?>audio/modem.mp3')
            source(src='<?= $domain; ?>audio/modem.ogg')
            | Your browser isn't invited for super fun time.
          .row.text-center
            .col-50
              p
                | We've been around since
                span.quicksand AOL
                |  was giving those pesky free internet CD's.
            .col-50
              p
                | We actually had
                a(href='https://en.wikipedia.org/wiki/Friendster') friendster
                |  and
                a(href='https://del.icio.us/', target='_blank') del.icio.us
                |  accounts... for fun!
          // /.row
          p
            | But most importantly, we understand the depth and impact that all the digital tools out there can have in a person's life. And together we can leverage to fit your business goals.

          p
            | Ready to know more?
            br

            a.btn(href='<?= $solutions_page; ?>')
              | Check out our solutions
              i.fa.fa-arrow-right(aria-hidden='true')
        // /col-100
