extends layout.pug

block title
  - var title       = "Experience Design with NFNTO";
  - var description = "We can earn a special place in people's lives for your brand by understanding what customers expect beyond focus groups & with measurable results.";
  - var url         = "http://nfnto.com/solutions/marketing-strategy";
  - var urles       = "http://nfnto.com/es/soluciones/experiencia-de-usuario";

  include meta.pug

block content
  .content
    .row.text-left.strategy
      .col
        h1.quicksand Experience Strategy
        p.sub
          | & simplifying the complex
        p.size-2x
          | Does design even matter?
        p
          | Design is more than looking good. Design has to be functional while making an emotional connection between the brand, the product and the user.
        p
          | Experience is the knowledge or mastery of an event or subject gained through involvement in or exposure to it. Terms in philosophy, such as "empirical knowledge" or "a posteriori knowledge," are used to refer to knowledge based on experience.
        p
          | The history of the word
          i experience
          |  aligns it closely with the concept of experiment.
        p
          | Since the turn of the century, people have seen that an experience with technology can actually be easy, productive, and even enrich their lives. And they now realize that it is not, and never was, their fault that they don’t understand how to use a website, online product, computer, remote control, parking meter, GPS, thermostat, you name it. Consumers now realize the responsibility of making something easy to use is on the company making the product or providing the service. In order to stay relevant and competitive, companies are now required to spend the time and money to design and build their products in a user-centered way, for the people actually using it.
        h2.subtitle What Does UX Mean?
        p
          | The Difference Between UX, UCD, & UI
          | People often mistake UX with UI or someone is looking for a UX/UI designer to hire. The important thing to note here is that UI stands for user interface, which is specific to designing software and hardware, while UX is very broad and applies to more than a digital product. While the UI function is very important, it is only one small piece in the UX ecosphere. Below are a few definitions:
          | User Experience is an approach.
          | UX is the end-to-end experience a customer has with your company. It includes all of your products, services, and communications, and it is not limited to the interface of a digital product, which is the common misconception. The way you answer your phone is part of a customer’s user experience with your business.
          | User-centered Design is a method.
          | UCD is a process that involves end-user input throughout all stages of product development. UCD is an important step towards achieving a successful user experience for your digital product.
          | User Interface is a control system.
          | The UI of a product refers to how the end user controls the hardware or software product: the buttons, menus, windows, icons, etc., that allow a person to navigate and interact with a system. The goal for a great user experience is always that these controls are intuitive and easy to use, with little or no training.
        p
          | The Nielsen Norman Group also talks about the distinction between UX and UI on its website:
          | It’s important to distinguish the total user experience from the user interface (UI), even though the UI is obviously an extremely important part of the design. As an example, consider a website with movie reviews. Even if the UI for finding a film is perfect, the UX will be poor for a user who wants information about a small independent release if the underlying database only contains movies from the major studios.
        .embed-responsive.slideshare-left
          img(src='/svg/icons/user-experience.svg', alt='User Experience', width='100%')
        p
          | Services that now live under the umbrella of user experience typically include product strategy, user research, interaction design, user interface design, visual design, usability testing, front-end development, and increasingly, back-end development. This means the entire product team now lives in the UX world and approaches their work through this UX lens.
        p
          | Even the most traditional and conservative businesses are embracing UX. Banks are, in fact, so focused on creating great user experiences for their customers, several are aiming higher to actually revolutionize the entire financial industry through UX. Wow, things have really come a long way! The Spanish Bank BBVA recently acquired a UX firm and stated the following in an issued
          a(href='http://www.prnewswire.com/news-releases/bbva-acquires-leading-user-experience-firm-spring-studio-300066312.html', target='_blank') press release
          | :
        p
          blockquote(cite='http://www.prnewswire.com/news-releases/bbva-acquires-leading-user-experience-firm-spring-studio-300066312.html')
            | Human-centered design is key to disruption in the finance industry and BBVA is developing the best end-to-end user experience across all channels.
        p
          | UX is not just storming the financial industry; healthcare, travel, and even the government are getting onboard. I recently heard the captain of a cruse ship say, “Booking a cruise should be as easy as buying something on Amazon.”

        hr

        h3.text-center Every brand is different, and every experience will be unique to suit each customer. Let us guide you through this amazing world of design and together awe your audience

        p.text-center
          | Convinced?
          br
          a.btn(href='../contact')
            | Contact us &#x2192;
