- var today = new Date();
- var year = today.getFullYear();
footer.row
  .col.copy
    p nfnto&copy; #{year}
  .col.footer-social
    ul.list-inline
      li
        a(href='/contact/')
          //i.fa.fa-envelope(aria-hidden="true")
          img(src='/svg/icons/message.svg', width='30', alt='Contacto', title='Contacto' class='lang-flag')
      li
        a(href='https://twitter.com/nfnto' target='_blank')
          //i.fa.fa-twitter(aria-hidden="true")
          img(src='/svg/icons/twitter.svg', width='30', alt='NFNTO en Twitter', title='NFNTO en Twitter' class='lang-flag')
      li
        a(href='https://www.facebook.com/nfnto/' target='_blank')
          //i.fa.fa-facebook(aria-hidden="true")
          img(src='/svg/icons/facebook.svg', width='30', alt='NFNTO en Facebook', title='NFNTO en Facebook' class='lang-flag')
      li
        a(href='http://blog.nfnto.com/' target='_blank')
          //i.fa.fa-tumblr(aria-hidden="true")
          img(src='/svg/icons/tumblr.svg', width='30', alt='NFNTO en Tumblr', title='NFNTO en Tumblr' class='lang-flag')

block scripts

script(src='/js/nfnto.min.js')
