extends layout.pug

block title
  - var title       = "NFNTO - Badass Digital Agency";
  - var description = "We are a Digital Marketing & User Experience Agency. Let's get your brand to the heart of your clients hrough expert strategy and implementation";
  - var url         = "http://nfnto.com";
  - var urles       = "http://nfnto.com/es/";

  include meta.pug

block content
  section.intro.text-center
    h1 Discover &amp; grow
    p What do you need?
    section.ineed
      h2 I need
      select#selectNeed.cs-select.cs-skin-underline(onchange='changeFunc();')
        option(value='', disabled='', selected='') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        option(value='1') More customers
        option(value='2') A website
        //option(value='3') An app
        //option(value='4') A better image
        option(value='5') A better strategy
    // /container
    #transit

block scripts
  script(src='/js/classie.js')
  script(src='/js/home.js')
