extends layout.pug

block title
  - var title       = "Acerca de NFNTO";
  - var description = "NFNTO es una agencia donde los resultados son accesibles, a través de investigación exhaustiva y sofisticadas implementaciones de marketing con las cuales lograrás alcanzar tus metas";
  - var url         = "http://nfnto.com/es/acerca";
  - var urlen       = "http://nfnto.com/about";

  include meta.pug

block content
  .content
    .row
      h1.text-center
        | ¿Qué podemos hacer por tu marca?
      p.sub.text-center
        | conoce más
      p.text-center
        | El ecosistema del marketing hoy en día demanda más que buenos gráficos y copy decente; las marcas ahora deben ganarse un lugar especial en las vidas de las personas.
      p.text-center
        | Nosotros podemos lograr ese lugar para tu marca a través del entendimiento de lo que los clientes esperan, más allá de lo que los grupos de enfoque te puedan brindar. Nosotros nos encargamos de crear utilidades, servicios y experiencias que:
      br
      .row.text-left
        .col
          h3.text-center Científicamente definen y nos hacen alcanzar tus metas
          ul.experiences
            li Aprovechar los datos con precisión y propósito
            li Confrontar opciones ilimitadas con recursos limitados
            li Llegar a la persona adecuada en el momento adecuado y en el contexto adecuado
            li Unificar la experiencia del consumidor a través de los medios fragmentados
        .col
          h3.text-center Atan emocionalmente a tu marca con el mundo
          ul.experiences
            li Lograr una elasticidad creativa que permita tanto la personalización como la escala
            li Permanecer relevante y en sintonía con la cultura en tiempo real
            li Entregar un ROI medible de marketing basado en las métricas que importan y enganchan
      // /.row
      // /col-100
      hr
      br
    .row.text-center.strategy
      .col
        h1.quicksand.text-center Tu socio estratégico digital
        p.sub.text-center
          | un poco acerca de nosotros
        p
          | Somos un grupo de profesionales que han estado en tus zapatos durante casi dos décadas. Conocemos las dificultades de administrar un departamento de marketing, sabemos lo difícil que puede ser alcanzar esos objetivos y nos hubiera gustado encontrar a alguien que ayudara a resolver esas dificultades y disfrutar de los grandes momentos con nosotros después de alcanzar un objetivo.
          br
          span.quicksand-bold Pero estamos aquí, ahora. Para ti.
        p#audioModem.modem(onmouseover='playclip();', onclick='playclip();')
          | Nuestra melodía favorita son los sonidos de módems antiguamente usados para conectarse a Internet
        audio#beep-one(controls='controls', preload='auto')
          source(src='/audio/modem.mp3')
          source(src='/audio/modem.ogg')
          | Su navegador no está invitado para esta experiencia súper divertida.
        .row.text-center
          .col
            p
              | Hemos estado desde que
              span.quicksand AOL
              |  regalaba sus discos de internet gratis en cada tienda.
          .col
            p
              | Realmente teníamos cuentas de&nbsp;
              a(href='https://en.wikipedia.org/wiki/Friendster', target='_blank') friendster
              |  y&nbsp;
              a(href='https://del.icio.us/', target='_blank') del.icio.us
              |  por gusto y diversión...
        // /.row
        p
          | Pero lo más importante es que entendemos la profundidad y el impacto que todas las herramientas digitales pueden tener en la vida de una persona. Y juntos podemos aprovecharlos para alinearnos con tus objetivos de negocio y traducirlos a resultados medibles.

        p
          | ¿Listo para saber más?
          br

          a.btn(href='/solutions')
            | Ve nuestras soluciones &#x2192;
            i.fa.fa-arrow-right(aria-hidden='true')
        // /col-100
