extends layout.pug

block title
  - var title = "Estrategia de Marketign con NFNTO";
  - var description = "Podemos ganar un lugar especial en la vida de las personas para tu marca entendiendo lo que esperan de ella, más allá de los grupos de enfoque y con resultados mensurables.";
  - var url         = "http://nfnto.com/es/soluciones/estrategia-de-marketing/";
  - var urlen       = "http://nfnto.com/solutions/marketing-strategy/";

  include meta.pug

block content
  .content
    .row.text-left.strategy
      .col
        h1.quicksand Estrategia de marketing
        p.sub
          | & las sutilezas
        p.size-2x
          | El marketing hoy en día demanda más que un buen copy y gráficos decentes; Las marcas tienen el deber de ganar un lugar especial en la vida de las personas.
        p
          | Podemos crear ese lugar en la vida de las personas para tu marca a través del entendimiento de las necesidades y expectativas que los clientes tienen, más allá de los grupos de enfoque y más allá de tus libros de negocios. Entregamos utilidades, servicios y, lo más importante, experiencias que:&nbsp;
          small
            | (¿Sin ganas de leer? click:&nbsp;
            a(href='#ourprocess') tl;dr
            | )
        h2.subtitle El Contexto
        .embed-responsive.slideshare-left
          iframe(src='//www.slideshare.net/slideshow/embed_code/key/D0N5V1PjTsIasR', width='595', height='485', frameborder='0', marginwidth='0', marginheight='0', scrolling='no', style='border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;', allowfullscreen='')
          div(style='margin-bottom:5px')
            small
              strong
                a(href='//www.slideshare.net/kleinerperkins/2016-internet-trends-report', title='2016 Internet Trends Report', target='_blank')
                  | 2016 Internet Trends Report&nbsp;
                | de&nbsp;
              strong
                a(target='_blank', href='//www.slideshare.net/kleinerperkins') Kleiner Perkins Caufield & Byers
        p
          | Según el
          a(href='http://www.kpcb.com/blog/2016-internet-trends-report', target='_blank') Reporte de Tendencias de Internet 2016&nbsp;
          | de Mary Meeker, casi la mitad de la población mundial (42%) tiene acceso a una conexión a Internet.
        p
          | Con seguridad se puede asumir que tu público y los clientes ya están considerados en esta tendencia y mucho más involucrados de lo que probablemente piensas. Es sólo una cuestión de años para que la población del mundo entero se conecte a Internet, y esto significa que debes comenzar a tomar los pasos necesarios para adaptar tu negocio a este ecosistema.
        h2.subtitle Mobile Ate the World&nbsp;
          small (este se queda en inglés)
        p
          | El postulado favorito de Marc Andreessen 2011: "
          a(href='http://www.wsj.com/articles/SB10001424053111903480904576512250915629460', target='_blank') ¿Por qué el software está comiendo el mundo?
          | ", se ha convertido en un viejo adagio para el mundo móvil sólo 4 años después de que haber sido previsto. Ya no esperamos más a que suceda. Ya sucedió: Móvil se comió el mundo.
        p
          | Esta veloz adopción de tecnología no tiene precedente en la historia y ha sido posible gracias a la introducción de las computadoras de bolsillo de bajo costo y altamente eficaces conocidas como teléfonos inteligentes.
        p
          | El escalonante incremento en el uso de móviles en el mundo por primera vez superó las vistas de páginas desde computadoras de escritorio durante el segundo semestre de 2016&nbsp;
          small
            | (
            a(href='http://qz.com/825014/mobile-website-views-surpassed-desktop-views-for-the-first-time-ever-in-october-2016/', target='_blank') fuente
            | )
          | :
        .embed-responsive.embed-responsive-16by9
          .atlas-chart(data-id='By5YNwIxg', data-width='640', data-height='449')
            img(src='https://www.theatlas.com/i/atlas_By5YNwIxg.png', style='max-width: 100%;')
          script(src='https://www.theatlas.com/javascripts/atlas.js')
        p
          | Creas o no creas en "esta moda", el alcance y marketing digital debe convertirse en una parte integral de tu estrategia de comunicación. Desde ya. Y cuanto más tiempo esperes para adoptar estos cambios, más se verá afectado negativamente tu negocio.
        p
          | La manera en que transmites tus mensajes, tu propuesta de valor; la manera en que comunicas tus valores e ideas ha tomado un cambio que tiene que ser cuidadosamente analizado y reelaborado para adaptarte a tus audiencias ya cautivas digitales.
        h2#ourprocess.subtitle Nuestro Proceso
        p
          | Entendemos que tu negocio es único, sin embargo, cuando se trata de entender, comunicarse y llegar efectivamente a la audiencia, hemos ideado un proceso básico para aplicar con éxito cada solución que aparece en el ecosistema, en cualquier vertical y alinearlo con el núcleo del negocio .
        p
          | Se reduce a 5 pilares principales:
        #tabs.c-tabs
          .c-tabs-nav
            a.c-tabs-nav__link.is-active
              | &#x269B;
              span Investigación
            a.c-tabs-nav__link
              | &#x2609;
              span Descubrimiento
            a.c-tabs-nav__link
              | &#x2691;
              span Definición
            a.c-tabs-nav__link
              | &#x2697;
              span Alcance
            a.c-tabs-nav__link
              | &#x2607;
              span Acción
          .c-tab.is-active
            .c-tab__content
              h2.subtitle Investigación
              p
                | Primero debemos entender lo que está pasando con su negocio y la relación con el contexto en el que existe. Llevamos a cabo un diagnóstico, al igual que un médico antes de dar cualquier receta, por lo que estamos completamente seguros de los síntomas y definir las causas de raíz.
              p
                | Aquí te ayudamos a responder las siguientes preguntas:
                br
                small (Piensa en tu negocio como equipo deportivo)
              ul
                li ¿Cuál es el juego?
                li ¿Cuál es el contexto?
                li ¿En dónde es el juego?
                li ¿Quiénes son los jugadores?
                li ¿Cuáles son las herramientas?
          .c-tab
            .c-tab__content
              h2.subtitle Descubrimiento
              p
                | Con el conocimiento obtenido durante la investigación, podemos estimar con precisión las diversas oportunidades que tenemos por delante, así como los riesgos calculados que vienen con ellos.
                | Comprender dónde nos encontramos y definir hasta dónde podemos llegar, a través de una estimación informada, establecerá la base para los próximos pasos.
              p
                | Las preguntas a hacer aquí:
              ul
                li ¿Qué está en juego?
                li ¿Se debería cambiar el juego?
                li ¿Cómo, para qué y por quérazón?
                li ¿Hasta dónde podemos ir?
                li ¿Cuáles son las herramientas?
          .c-tab
            .c-tab__content
              h2.subtitle Objetivos
              p
                | En este punto tenemos la información lista para comenzar a construir un plan conciso. Hemos definido hasta dónde vamos a ir. Ahora determinamos los objetivos claros y alcanzables definidos en inifitivo.
              p
                | No más cuestionamientos. Definimos las mejoras incrementales para conducir su marca a donde lo imagina. Pequeñas metas hacia un gran logro. Estos son parte de un ciclo continuo:
              ul
                li Definir objetivos ejecutables
                li Definir los plazos
                li Crear una estrategia de medición
                li
                  span Implementación
                li Obtener Resultados
                li Analizar
                li Optimizar
                li Comenzar de nuevo
          .c-tab
            .c-tab__content
              h2.subtitle Alcance
              p
                | Una vez que hemos alineado sus objetivos con tu visión, procedemos a definir los recursos requeridos (herramientas, presupuestos, equipos) necesarios para lograrlos.
              ul
                li Definición y asignación de recursos
                li Planes a corto plazo viables
          .c-tab
            .c-tab__content
              h2.subtitle Acción
              p
                | La estrategia se traduce en tácticas y comienza a alimentar el Lazo de retroalimentación positiva establecido para sus resultados en la dirección correcta.
              p.text-center
                | Trabajamos en equipo para alcanzar esas metas.
                i.fa.fa-bolt
        h2#ourprocess.subtitle Nuestro Alcance
        p
          | Nuestro alcance va más allá de un lead o una venta. Queremos hacer negocios durante el resto del próximo siglo y esperamos que nuestros clientes también están dispuestos a alargar su permancia.
        p
          | Reconocemos la naturaleza de desarrollar una relación transaccional y a la vez emocional con los clientes.
          | Es por eso que hemos dominado los pasos en los cuales la oportunidad se vuelve disponible y aprovechar la atención de la audiencia en los micromomentos adecuado para usted.

        h3.text-center
          | La travesía del cliente
        p.sub.text-center
          | Generando valor en cada paso
        img(src='/svg/icons/travesia-del-cliente.svg', alt='Customer Journey', width='100%')

        p
          | Llevemos a tu marca a donde debe estar.
        h2#ourprocess.subtitle Nuestra experiencia
        h3.heading Canales digitales
        p
          | Trabajamos con las empresas que te llevarán a los ojos y corazones de la audiencia a la que estás dispuesto a llegar. Es por eso que nos hemos asociado con algunos de los mejores que hay.

        .row
          .col.h-pad-2.media-comp
            img(src='/svg/channels/google.svg')
          .col.h-pad-2.media-comp
            img(src='/svg/channels/facebook.svg')
          .col.h-pad-2.media-comp
            img(src='/svg/channels/instagram-text.svg')
          .col.h-pad-3.media-comp
            img(src='/svg/channels/twitter.svg')
        br
        .row
          .col.h-pad-2.media-comp
            img(src='/svg/channels/bing.svg')
          .col.h-pad-2.media-comp
            img(src='/svg/channels/spotify.svg')
          .col.h-pad-2.media-comp
            img(src='/svg/channels/doubleclick.svg')
          .col.h-pad-2.media-comp
            img(src='/svg/channels/linkedin.svg')
        p.text-center
          | La mayoría de ellos los conoces y lo has usado ... pero ¿realmente los entiendes?
          br
          | ...No tienes que preocuparte, nosotros los comprendemos a la perfección.
        p
          | Tu marca donde quiera que sea requerida, siempre que lo necesites.

        h3.heading Customer Managed Relationships
        p
          | ¿Sabes quiénes son tus clientes? ¿Qué disfrutan? ¿O al menos sus datos demográficos?
        p
          | Son personas de las que estamos hablando. Con vidas apasionadas, emocionales, ricas, que van más allá de un espectro. Y están dispuestos a poner su confianza en ti, ¿qué les darás a cambio?
        .row
          .col-30
            img(src='/svg/icons/form.svg', width='175')
          .col-10
            .clearfix.h-pad-1
          .col-60
            p
              | Podemos proporcionar esta valiosa información para usted. Podemos gestionar esas bases de datos y dar a sus clientes exactamente lo que esperan.
            p Centralizar y aprovechar esa valiosa información para beneficio de tus clientes.
        h3.heading Measurement & Reporting
        p ¿Sabes lo bien o mal que está tu negocio? ¿Entiendes por qué?
        p
          | Para mejorar cualquier cosa debes primero entender su estado actual, y documentar cada paso del camino.
        .row
          .col-60
            p
              | Podemos ayudarle a definir y diseñar estrategias en torno a sus Indicadores de Desempeño Clave para ayudarle a explicar el estado en el que su empresa estaba, está y estará.
          .col-10
            .clearfix.h-pad-1
          .col-30
            img(src='/svg/icons/monitoring.svg', width='195')
        p
          | Juntos desarrollaremos los modelos de medición para su vertical, y luego los alinearemos a las necesidades de su negocio y nos aseguraremos de mantener un registro riguroso de ellos para los propósitos decisorios críticos.
        hr
        p.text-center
          | Convencido?
          br
          a.btn(href='../contacto')
            | Contáctanos &#x2192;



block scripts
  script(src='/js/tabs.js')
  script.
    //Marketing Solutions invocation
    var myTabs = tabs({
    el: '#tabs',
    tabNavigationLinks: '.c-tabs-nav__link',
    tabContentContainers: '.c-tab'
    });
    myTabs.init();
