extends layout.pug

block title
  - var title       = "Experience de Usuario con NFNTO";
  - var description = "Podemos ganar un lugar especial en la vida de las personas para tu marca entendiendo lo que esperan de ella, más allá de los grupos de enfoque y con resultados mensurables.";
  - var url         = "http://nfnto.com/es/soluciones/experiencia-de-usuario";
  - var urlen       = "http://nfnto.com/solutions/experience-design";

  include meta.pug

block content
  .content
    .row.text-left.strategy
      .col
        h1.quicksand Estrategia de Experiencias
        p.sub
          | & simplificando lo complejo
        p.size-2x
          | Realmente importa el diseño?
        p
          | El diseño es más que verse bien. El diseño tiene que ser funcional mientras se hace una conexión emocional entre la marca, el producto y el usuario.
        p
          | La experiencia es el conocimiento o dominio de un evento o tema adquirido a través de la participación o la exposición a ella. Los términos en filosofía, tales como "conocimiento empírico" o "conocimiento a posteriori", se usan para referirse al conocimiento basado en la experiencia.
        p
          | La historia de la palabra
          i experiencia
        |  se alinea estrechamente con el concepto de experimento.
        p
          | Desde el comienzo de siglo, la gente ha visto que una experiencia con la tecnología en realidad puede ser fácil, productivo, e incluso puede llegar a enriquecer sus vidas. Y ahora se dan cuenta de que no es, y nunca fue tu culpa el saber cómo usar un sitio web, producto en línea, computadora, control remoto, parquímetro, GPS, termostato, o lo que sea. Los consumidores ahora se dan cuenta que la responsabilidad de hacer algo fácil de usar pertenece a la empresa que fabrica el producto o proporciona el servicio. Con el fin de mantenerse relevante y competitivo, las empresas están ahora obligados a dedicar el tiempo y dinero para diseñar y construir sus productos enfocándose en el usuario, enfocándose en las personas que realmente lo utilizan.
        h2.subtitle ¿Qué significa UX?
        p
          strong La diferencia entre UX, UCD, & UI
          br
          | La gente a menudo confunde UX con UI, regularmente cuando se está buscando a alguien para contratar. Lo importante a destacar aquí es que UI se refiere a la interfaz de usuario, que es específico para el diseño de software y hardware, mientras que UX es muy amplio y se aplica a más de un producto digital. Mientras que la función de interfaz de usuario es muy importante, es sólo una pieza pequeña en la ecosfera UX. A continuación se presentan algunas definiciones:
          br
          strong La experiencia del usuario es un enfoque.
          br
          | UX es la experiencia de extremo a extremo que un cliente tiene con tu empresa. Incluye todos sus productos, servicios y comunicaciones, y no se limita a la interfaz de un producto digital, que es el error común. La forma en que responde a tu teléfono es parte de la experiencia de usuario de un cliente con tu negocio.
          br
          strong Diseño centrado en el usuario es un método.
          br
          | UCD es un proceso que involucra la entrada del usuario final a través de todas las etapas del desarrollo del producto. UCD es un paso importante para lograr una experiencia de usuario exitosa para tu producto digital.
          br
          strong Diseño de Interfaz de Usuario es un sistema de control.
          br
          | La interfaz de usuario de un producto se refiere a cómo el usuario final controla el producto de hardware o software: los botones, menús, ventanas, iconos, etc., que permiten a una persona navegar e interactuar con un sistema. El objetivo de una gran experiencia de usuario es siempre que estos controles son intuitivos y fáciles de usar, con poco o ningún entrenamiento.
        p
          | El Nielsen Norman Group también habla de la distinción entre UX e UI en tu sitio web:
          | Es importante distinguir la experiencia total del usuario de la interfaz de usuario (UI), aunque la interfaz de usuario es obviamente una parte muy importante del diseño. Como ejemplo, considere un sitio web con reseñas de películas. Incluso si la interfaz de usuario para encontrar una película es perfecta, el UX será pobre para un usuario que desee información sobre un pequeño lanzamiento independiente si la base de datos subyacente sólo contiene películas de los grandes estudios.
        .embed-responsive.slideshare-left
          img(src='/svg/icons/user-experience.svg', alt='User Experience', width='100%')
        p
          | Services that now live under the umbrella of user experience typically include product strategy, user research, interaction design, user interface design, visual design, usability testing, front-end development, and increasingly, back-end development. This means the entire product team now lives in the UX world and approaches their work through this UX lens.Los servicios que ahora viven bajo el paraguas de la experiencia del usuario suelen incluir la estrategia del producto, la investigación del usuario, el diseño de la interacción, el diseño de la interfaz de usuario, el diseño visual, las pruebas de usabilidad, el desarrollo front-end y cada vez más, el desarrollo back-end. Esto significa que el equipo completo del producto ahora vive en el mundo UX y se acerca a tu trabajo a través de esta lente UX.
        p
          | Incluso los negocios más tradicionales y conservadores están abrazando UX. De hecho, los bancos están tan concentrados en crear grandes experiencias de usuario para sus clientes, varios están apuntando más alto para realmente revolucionar toda la industria financiera a través de UX. Wow, las cosas han recorrido un largo camino! El Banco Español BBVA adquirió recientemente una firma de UX y declaró lo siguiente en
          a(href='http://www.prnewswire.com/news-releases/bbva-acquires-leading-user-experience-firm-spring-studio-300066312.html', target='_blank') press release
          | :
        p
          blockquote(cite='http://www.prnewswire.com/news-releases/bbva-acquires-leading-user-experience-firm-spring-studio-300066312.html')
            | Human-centered design is key to disruption in the finance industry and BBVA is developing the best end-to-end user experience across all channels.
        p
          | UX no es sólo asalto a la industria financiera; La salud, los viajes y hasta el gobierno se están embarcando. Hace poco oí al capitán de un buque de crus decir: "reservar un crucero debería ser tan fácil como comprar algo en Amazon".

        hr

        h3.text-center Cada marca es diferente, y cada experiencia será única para cada cliente. Permítanos guiarle a través de este increíble mundo del diseño y juntos impresionar a tu público.

        p.text-center
          | ¿Convencido?
          br
          a.btn(href='../contacto')
            | Contáctanos &#x2192;
