extends layout.pug

block title
  - var title = "NFNTO - Badass Digital Consultants";
  - var description = "Digital Marketing & Communication Agency";
  - var url = "http://nfnto.com";

  include meta.pug

block content
  section.intro.text-center
    h1 Descubre &amp; crece
    p ¿Cómo te podemos ayudar?
    section.ineed
      h2 Necesito
      select#selectNeed.cs-select.cs-skin-underline(onchange='changeFunc();')
        option(value='', disabled='', selected='') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        option(value='10') Más Clientes
        option(value='20') Un website
        //option(value='3') An app
        //option(value='4') A better image
        option(value='50') Una mejor estrategia
    // /container
    #transit

block scripts
  script(src='/js/classie.js')
  script(src='/js/home.js')
