html
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NT4ZTGX');
    // End Google Tag Manager

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,minimum-scale=1')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='application-name' content= title)

    block title


    link(rel='stylesheet', href='/css/nfnto.css')


  body

    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NT4ZTGX', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)

  header.masthead
    .masthead-title
      a.masthead-title(href='/es/')
        svg#Layer_1.logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 183.604 160.238', enable-background='new 0 0 183.604 160.238', xml:space='preserve')
          polygon.logo-bottom(points='12.723,160.238 39.25,160.238 169.841,160.238 183.604,136.752 52.375,136.752 90.021,69.677 77.178,47.771 ')
          polygon.logo-left(points='78.859,0 0,136.232 12.723,160.238 78.859,44.971 119.29,112.208 142.392,112.269 ')
          polygon.logo-right(points='144.059,115.213 78.859,0 105.385,0 183.604,136.752 54.973,136.752 67.576,115.228 ')
          polygon.logo-center(points='91.73,72.995 69.557,112.227 115.077,112.227 ')
    div.hamburger
      a#menuham(href='#', onclick='meatymenu(this)', class="normal")
        img(src='/svg/icons/menu.svg')
    nav#navigation.navbar
      ul.nav
        li
          a(href='/es/acerca/') acerca de
        li
          a(href='/es/soluciones/') soluciones
        //li
          a(href='/work/') work
        li
          a(href='/es/contacto/') contacto
        li
          a(href='http://blog.nfnto.com') noticias
        li
          a(href= urlen)
            img(src='/svg/icons/ingles-alt.svg', width='40', alt='Inglés', title='Inglés' class='lang-flag')

  .container.main-container
      block content

  include footer.pug
